{% extends 'index.html' %}

{% block content %}
<div id="content">
    <form action="{{ url_for('answer_comment_form')}}" method="post" name="new_comment" content="Add title">
         <input style="display:None" name="answer_id" type="number" value="{{ answer_id }}">
        <p><label for="message">Comment:</label><br>
        <textarea id="message_form" name="message" title="message" rows="10", cols="50" minlength="10"></textarea></p>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}