{% extends 'index.html' %}

{% block content %}
    <div id="content">
        <ul class="list">
            <li class="record">
                <table>
                  {% if question_details %}
                    <tr>
                        <td class="top_bar">QUESTION TITLE</td>
                        <td class="top_bar">VIEWS</td>
                        <td class="top_bar">VOTES</td>
                    </tr>
                    <tr class="header_bar">
                        <td><font color="black">{{ question_details.title }}</font></td>
                        <td><font color="black">{{ question_details.view_number }}</font></td>
                        <td><font color="black">{{ question_details.vote_number }}</font></td>
                    </tr>
                    <tr>
                        <td>{{ question_details.message }}</td>
                    </tr>
                    {% endif %}
                    {% if answer_details %}
                    <tr>
                        <td class="top_bar">ANSWER TITLE</td>
                        <td class="top_bar">VOTES</td>
                    </tr>
                    <tr class="header_bar">
                        <td><font color="black">{{ answer_details.message }}</font></td>
                        <td><font color="black">{{ answer_details.vote_number }}</font></td>
                    </tr>
                    {% endif %}
                </table>
            <li>
                <table>
                    <tr>
                        <td class="top_bar">COMMENTS</td>
                    </tr>
                </table>
                {% for comment in comments %}
                    <table>
                        <tr class="header_bar">
                            <td class="title2"><font size="1" color="black">{{ comment.submission_time }}</font>&nbsp;&nbsp;
                                <font color="black">{{ comment.message }}</font></td>
                        </tr>
                    </table>
                    </li>
                {% endfor %}
        </ul>

    </div>
{% endblock %}