{% extends 'index.html' %}

{% block content %}
    <div id="content">
        <h3>Question:</h3>
        <p>{{ question }}</p>
        <h3>Answer:</h3>
        <p>{{ answer }}</p>
        <p>Vote:</p>
        <h3>{{ vote }}</h3>
        <ul>
            {% for question in user_questions %}
                <li>
                    <div>{{ question.title }}</div>
                    <div>{{  question.message}}</div>
                </li>
            {% endfor %}
        </ul>

    </div>
{% endblock %}