<div id="menu">
    <br>
    <a href="{{ url_for('home') }}"><img id="picture" src="/static/img/buttons/button_home.png"></a>
    <a href="{{ url_for('add_question') }}"><img id="picture" src="/static/img/buttons/button_add-a-question.png"></a>
    <a href="{{ url_for('login') }}"><img id="picture" src="/static/img/buttons/button_login.png"></a>
    <a href="{{ url_for('registration') }}"> <img id="picture" src="/static/img/buttons/button_registration.png"></a>

    {% if user %}

        <a id="logout" href="{{ url_for('login') }}"> <img id="picture" src="/static/img/buttons/button_registration.png"></a>
        <span id="username">{{ user }}</span>
    {% endif %}
</div>