<div id="menu">
    <br>
    <a href="{{ url_for('home') }}"><img id="picture" src="/static/img/buttons/button_home.png" alt=""></a>
    <a href="{{ url_for('add_question') }}"><img id="picture" src="/static/img/buttons/button_add-a-question.png" alt=""></a>

    {% if not user %}

    <a href="{{ url_for('login') }}"><img id="picture" src="/static/img/buttons/button_login.png" alt=""></a>
    <a href="{{ url_for('registration') }}"> <img id="picture" src="/static/img/buttons/button_registration.png" alt=""></a>
    {% endif %}

    {% if user %}

        <a id="logout" href="{{ url_for('logout') }}"> <img id="picture" src="/static/img/buttons/button_log-out.png" alt=""></a>
        <span id="username">{{ user }}</span>
    {% endif %}

</div>