{% extends 'index.html' %}

{% block content %}
    <div id="content">
        <ul class="list">
            <li class="record">
                <a href="{{ url_for('add_answer', question_id=question_details.id) }}">
                    <img id="picture" src="/static/img/buttons/button_add-an-answer.png"></a>
                <a href="{{ url_for('new_comment', question_id=question_details.id) }}">
                    <img id="picture" src="/static/img/buttons/button_add-comment.png"></a>
                <a href="{{ url_for('comment_details', question_id=question_details.id) }}">
                    <img id="picture" src="/static/img/buttons/button_show-question-comments.png"></a>

                <table>
                    <tr>
                        <td class="top_bar">QUESTION TITLE</td>
                        <td class="top_bar">VIEWS</td>
                        <td class="top_bar">VOTES</td>
                    </tr>
                    <tr class="header_bar">
                        <td>{{ question_details.title }}</td>
                        <td>{{ question_details.view_number }}</td>
                        <td>{{ question_details.vote_number }}</td>
                    </tr>
                    <tr>
                        <td>{{ question_details.message }}</td>
                    </tr>
                </table>
            <li>
                <table>
                    <tr>
                        <td class="top_bar">ANSWERS</td>
                        <td class="top_bar">VOTES</td>
                    </tr>
                </table>
                {% for answer in answers %}
                    <table>
                        <tr class="header_bar">
                            <td class="title2">{{ answer.submission_time }}&nbsp;&nbsp {{ answer.message }} <br>
                                <a href="{{ url_for('edit_answer', answer_id=answer.id) }}">
                                <img id="picture2" src="/static/img/buttons/button_edit.png"></a>
                                <a href="{{ url_for("new_answer_comment", answer_id=answer.id) }}">
                                <img id="picture2" src="/static/img/buttons/button_comment.png"></a>
                                <a href="{{ url_for('answer_comment_details', answer_id=answer.id) }}">
                                    <img id="picture2" src="/static/img/buttons/button_show-comments.png"></a>
                            </td>
                            <td>
                                <a href="{{ url_for('answer_vote_up', question_id=question_details.id, answer_id=answer.id) }}">
                                    <img src="/static/img/vote_up.jpg" width="20" height="25"></a>&nbsp;
                                <a href="{{ url_for('answer_vote_down', question_id=question_details.id, answer_id=answer.id) }}"><img
                                        src="/static/img/vote_down.jpg" width="20" height="25"></a>
                            </td>
                            <td>{{ answer.vote_number }}</td>
                        </tr>
                    </table>
                    </li>
                {% endfor %}
        </ul>

    </div>
{% endblock %}