{% extends 'index.html' %}

{% block content %}
    <div id="content">
        <ul class="list">
            <li class="record">
                <a href="{{ url_for('add_answer', question_id=question_details.id) }}">Add an answer</a>
                <table>
                    <tr>
                        <td class="top_bar">QUESTION TITLE</td>
                        <td class="top_bar">VIEWS</td>
                        <td class="top_bar">VOTES</td>
                    </tr>
                    <tr class="header_bar">
                        <td><font color="black">{{ question_details.title }}</font></td>
                        <td><font color="black">{{ question_details.view_number }}</font></td>
                        <td><font color="black">{{ question_details.vote_number }}</font></td>
                    </tr>
                    <tr>
                        <td>{{ question_details.message }}</td>
                    </tr>
                </table>
            <li>
                <table>
                    <tr>
                        <td class="top_bar">ANSWERS</td>
                        <td class="top_bar">VOTES</td>
                    </tr>
                </table>
                {% for answer in answers %}
                    <table>
                        <tr class="header_bar">
                            <td class="title2"><font size="1" color="black">{{ answer.submission_time }}</font>&nbsp;&nbsp;<font
                                    color="black">{{ answer.message }}</font></td>
                            <td><img src="/static/img/vote_up.jpg" width="20" height="25">&nbsp;
                                <img src="/static/img/vote_down.jpg" width="20" height="25">&nbsp;&nbsp;<font
                                        color="black">{{ answer.vote_number }}</font></td>
                        </tr>
                    </table>
                    </li>
                {% endfor %}
        </ul>

    </div>
{% endblock %}